---
import Layout from "../layouts/Layout.astro";
// import Logout from "../components/logout.svelte";
import Content from "../components/content.svelte";
---

<Layout>
  <section>
    <Content client:only="svelte" />
    <!-- <Logout client:only="svelte" /> -->
  </section>
</Layout>

<style>
  section {
    height: 100vh;
    background-color: var(--color-secondary);
    background-image: linear-gradient(
      to bottom,
      var(--color-primary),
      rgb(15 23 42 / 0)
    );
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
